.ancho {
  width: 100%;
  height: 565px !important;
  align-items: center;
}
.grid-struc {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
}
#img-jardin {
  height: 565px !important;
}
.p-tag {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.divs-caracs {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 3rem;
  padding-top: 7rem;
  padding-bottom: 9rem;
  font-size: larger;
}
.divs-caracs2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#jbg {
  color: #0eb480;
}
.webpage {
  width: 50%;
  height: 70%;
  margin: 2rem;
  padding: 2.5rem;
  padding-left: 9.5rem;
  padding-right: 9.5rem;
  box-shadow: 0 0 3px rgb(79, 127, 112), 0 3px 6px rgb(79, 127, 112),
    0 5px 5px rgb(79, 127, 112);
}
.webpage2 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}
.ul-decor {
  list-style-type: square;
}
.top-no-margin {
  margin: 1rem;
  color: #057a55;
}
.top-no-margin1 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #057a55;
}
.top-no-margin2 {
  margin-top: 0;
  padding: 2rem;
  width: 100%;
  color: white;
}

/*CSS gradient animator: https://www.gradient-animator.com/*/
.css-selector {
  background: linear-gradient(272deg, #111827, #057a55);
  background-size: 400% 400%;

  -webkit-animation: fondo-info 5s ease infinite;
  -moz-animation: fondo-info 5s ease infinite;
  animation: fondo-info 5s ease infinite;
}

@-webkit-keyframes fondo-info {
  0% {
    background-position: 0% 37%;
  }
  50% {
    background-position: 100% 64%;
  }
  100% {
    background-position: 0% 37%;
  }
}
@-moz-keyframes fondo-info {
  0% {
    background-position: 0% 37%;
  }
  50% {
    background-position: 100% 64%;
  }
  100% {
    background-position: 0% 37%;
  }
}
@keyframes fondo-info {
  0% {
    background-position: 0% 37%;
  }
  50% {
    background-position: 100% 64%;
  }
  100% {
    background-position: 0% 37%;
  }
}
